<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Lambada Inc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="https://ams1stor.blob.core.windows.net/pub/toastr.css"/>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Lambada Inc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Info/Index">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Factories/Overview">Factories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Info/Status">Results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Factories/RawData">Raw data</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <div id="alertDiv" class="mr-2"></div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="font-weight-bolder mr-1" asp-page="/Account/Profile">
                        Welcome @User.Identity.Name
                    </a>
                    <i class="fa fa-grip-lines-vertical"></i>
                    <a class="text-dark ml-1" asp-page="/Account/Logout">logout</a>
                }
                else
                {
                    <a asp-page="/Account/Login">Login</a>
                }
            </form>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @if (IsSectionDefined("breadcrumb"))
        {
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb" class="float-right">
                        @RenderSection("breadcrumb")
                    </nav>
                </div>
            </div>
        }
        @RenderBody()
    </main>
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Lambada Inc - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="~/js/signalr.min.js"></script>
@RenderSection("Scripts", required: false)
<script type="application/javascript">
       document.addEventListener('DOMContentLoaded', function () {
            const connectionAlerts = new signalR.HubConnectionBuilder()
                        .withUrl('/alerts')
                        .build();
            bindConnectionMessage(connectionAlerts);
            connectionAlerts.start();
            
            function bindConnectionMessage(connection) {
                  let messageCallback = function (message) {
                                $("#alertDiv").empty();
                                if (!message) return;
                                let messageBox = document.getElementById('alertDiv');                                
                                messageBox.innerHTML = "<a href='" +message +"'><i class='fas fa-exclamation-triangle'></i></a>";
                                toastr.options.closeButton = true;
                                toastr.options.onclick = function() { window.open(message,"_BLANK"); }
                                toastr.info('Something important has happened! Click me to find more!');
                  };
                  connection.on('alertMessage', messageCallback); 
            }   
        });
    </script>
<script> // apply custom changes to this script tag.
     @Html.Raw(JavaScriptSnippet.ScriptBody)
 </script>
</body>
</html>
