<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Lambada Inc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
            data-auto-replace-svg="nest"></script>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Lambada Inc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Info/Index">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Factories/Overview">Factories</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0">
                @if (User.Identity.IsAuthenticated)
                {
                    <span class="font-weight-bolder mr-1">Welcome @User.Identity.Name</span>
                    <i class="fa fa-grip-lines-vertical"></i>
                    <a class="text-dark ml-1" asp-page="/Account/Logout">logout</a>
                }
                else
                {
                    <a asp-page="/Account/Login">Login</a>
                }
            </form>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @if (IsSectionDefined("breadcrumb"))
        {
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="float-right">
                    @RenderSection("breadcrumb")
                </nav>
            </div>
        }
        @RenderBody()
    </main>
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Lambada Inc - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
<script> // apply custom changes to this script tag.
     @Html.Raw(JavaScriptSnippet.ScriptBody)
 </script>
</body>
</html>