@page "{factoryId}"
@model Lambada.Generators.Pages.Factories.RawDataPageModel

@{
    var factoryName = Model.Factory.Name;
    ViewData["Title"] = "Raw data overview " + factoryName;
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/Factories/Overview">Factories</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Factories/Details" asp-route-factoryId="@Model.Factory.FactoryId">@factoryName</a>
        </li> 
        <li class="breadcrumb-item">
            <a asp-page="/Info/Status">Status in real-time</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Raw data @factoryName</li>
    </ol>
}

<h1>Raw data @factoryName</h1>
<p class="text-success font-weight-bold text-xl-left">
    @Model.InfoText
</p>
<p class="text-info">Set date in field and press filter to get results</p>
<div class="col-12 mb-3 mt-3">
    <form method="get">
        <div class="form-group">
            <label asp-for="Hours">Enter how much back you want to go (in hours)</label>
            <input type="number" class="form-control" asp-for="Hours">
        </div>
        <button type="submit" class="btn btn-primary">Search <i class="fas fa-search"></i></button>
    </form>
</div>