@page 
@model Lambada.Generators.Pages.Factories.RawDataPageModel

@{
    ViewData["Title"] = "Raw data overview";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/Factories/Overview">Factories</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Info/Status">Status in real-time</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Raw data</li>
    </ol>
}

<h1>Raw data</h1>
<p class="text-success font-weight-bold text-xl-left">
    @Model.InfoText
</p>
<p class="text-info">Set date in field and press filter to get results</p>
<div class="col-12 mb-3 mt-3">
    <form method="get">
        <div class="form-group">
            <label asp-for="Hours">Enter how much back you want to go (in hours)</label>
            <input type="number" class="form-control" asp-for="Hours">
        </div>
        <button type="submit" class="btn btn-primary">Search <i class="fas fa-search"></i></button>
    </form>
</div>
@if (Model.RawDataResults.Any())
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Short information</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var searchModel in Model.RawDataResults)
        {
            <tr>
                <td>
                    @searchModel.Title
                </td>
                <td>
                    @searchModel.Description
                </td>
                <td>
                    <a href="@searchModel.Route">
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <nav aria-label="Devices Count">
        <ul class="pagination">
            @if (Model.RawDataResults.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-page="/Factories/RawData" asp-route-pageIndex="@(Model.RawDataResults.PageIndex - 1)">Previous </a>
                </li>
            }
            @if (Model.RawDataResults.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-page="/Factories/RawData" asp-route-pageIndex="@(Model.RawDataResults.PageIndex + 1)">Next</a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <p class="text-info">No data found! Change query parameters.</p>
}